# Ignore directories
/.vscode/
/build/
/__pycache__/
/TEST/

# Ignore possibly built binaries/C source
*.so
*.o
*.a
eel.c
figure.c
shader.c
gui.c
*.txt
*.png

# Ignore Premake output
/obj/
*.make
Makefile
