# Ignore directories
/.vscode/
/build/
/__pycache__/
/TEST/
/ctest/

# Ignore possibly built binaries/C source
*.so
*.o
*.a
eel.c
figure.c
shader.c
gui.c*
*.txt
*.png
*.oyd
*.lib
*.ini

# Ignore Premake output
/obj/
/eelengine/
*.make
Makefile
